<h2>Here are your blogs:</h2>
 
<% if current_user %>
  Welcome!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Vk", "/auth/vkontakte" %>
<% end %>



<div>
  <ul>
    <%- @feeds.each do |feed| %>
      <li>
        <%= feed.url %>
        <%= link_to 'Edit', edit_feed_path(feed) %>
        <%= link_to 'Remove', feed, :method => :delete %> 
      </li>
    <%- end %>
  </ul>
<%= link_to "Add blog", new_feed_path %>
</div>


<%= link_to "Add post", new_post_path %> <br>
<%= link_to "View all posts", posts_path %> <br>




