<!DOCTYPE html>
<html>
<head>
  <title>BlogImport</title>
  <script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script> 

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
  <script type="text/javascript" language="javascript" charset="utf-8">
    VK.callMethod('showSettingsBox', 8192);
  </script>   
  <%= current_user %>
  <%= params.inspect %>
  <%= yield %>

</body>
</html>
